Aluguel.json
{
  "name": "Aluguel",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1280,
        2080
      ],
      "id": "b1041d3c-3314-4bee-939f-5befbd365208",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd7159c3-ce74-49de-a317-015ed4b99501",
              "name": "ano_atual",
              "value": "={{ $json.Year }}",
              "type": "string"
            },
            {
              "id": "295b1dee-d0c2-4ef4-b205-88588681a743",
              "name": "Month",
              "value": "={{ $json.Month }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        2080
      ],
      "id": "07bd3d67-5ab8-467e-846f-936bf4687dff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const feriados = $input.first().json.data_feriado\n\nconst hoje = new Date();\nconst ano = hoje.getFullYear();\nconst mes = hoje.getMonth(); // 0 = janeiro\n\n// função para verificar se é dia útil\nfunction isDiaUtil(data) {\n  const dia = data.getDay();\n  const strData = data.toISOString().split('T')[0];\n  return dia !== 0 && dia !== 6 && !feriados.includes(strData);\n}\n\n// calcular o 4º dia útil do mês\nlet diaUtilCount = 0;\nlet diaAtual = new Date(ano, mes, 1);\nlet quartoDiaUtil;\n\nwhile (diaAtual.getMonth() === mes) {\n  if (isDiaUtil(diaAtual)) {\n    diaUtilCount++;\n    if (diaUtilCount === 4) {\n      quartoDiaUtil = diaAtual;\n      break;\n    }\n  }\n  diaAtual.setDate(diaAtual.getDate() + 1);\n}\n\n// verificar se hoje é o 4º dia útil\nif (hoje.toDateString() === quartoDiaUtil.toDateString()) {\n  return [{ json: { disparar: true } }];\n} else {\n  return [{ json: { disparar: false } }];\n}\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        2080
      ],
      "id": "d8057d40-fbd9-41f0-bf0c-c37e838702bc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83ff9f2d-42d5-45c8-9071-acb9372f65e4",
              "name": "data_feriado",
              "value": "={{ $json.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        2080
      ],
      "id": "9348bb4d-a2e5-4103-ba3d-8dc952205b41",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select DATA_VENDA\n\t, sum(valor_venda_bruta) 'Total venda Bruta'\n\t, sum(valor_troca) 'Total devolução'\nfrom loja_venda\nwhere codigo_filial = '{{ $json['Codigo loja '] }}'\n\tand DATA_VENDA >= '20250101' \n\tand DATA_VENDA <= '20250131' \ngroup by DATA_VENDA\norder by data_venda asc\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        880,
        2032
      ],
      "id": "befca809-aeec-488c-aa02-9191ff920214",
      "name": "Microsoft SQL",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "KtBQ1uO6JMALaFpK",
          "name": "Banco IB"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://date.nager.at/api/v3/PublicHolidays/{{ $json.ano_atual }}/BR",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        2080
      ],
      "id": "d997f068-2538-47ca-8c6f-e4295a593399",
      "name": "API para consultar feriados",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e17b2c0-f2a7-41e8-8ab4-e2d54818489f",
              "name": "Data_venda",
              "value": "={{ ($json.DATA_VENDA.toDateTime()).format('yyyy-MM-dd')}}",
              "type": "string"
            },
            {
              "id": "8db8586a-cfe2-49a2-b691-b93c7bfc2dcf",
              "name": "Venda bruta",
              "value": "={{ $json['Total venda Bruta'] }}",
              "type": "number"
            },
            {
              "id": "ea4e7f91-c24b-4338-bc5b-eeff19de191a",
              "name": "Devolução",
              "value": "={{ $json['Total devolução'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        2032
      ],
      "id": "ada1d100-8780-4d26-a361-11f9896fd929",
      "name": "Edit Fields3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17eNWuCZeIfZGWvaBbdaaGf-AOq077uKt80Uz87khuyI",
          "mode": "list",
          "cachedResultName": "Aluguel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17eNWuCZeIfZGWvaBbdaaGf-AOq077uKt80Uz87khuyI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1891679128,
          "mode": "list",
          "cachedResultName": "manter dados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17eNWuCZeIfZGWvaBbdaaGf-AOq077uKt80Uz87khuyI/edit#gid=1891679128"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.Data_venda }}",
            "Venda bruta": "={{ $json['Venda bruta'] }}",
            "Devolução": "={{ $json['Devolução'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Venda bruta",
              "displayName": "Venda bruta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Devolução",
              "displayName": "Devolução",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        2032
      ],
      "id": "7415784b-f34f-4583-b288-c2784ec23508",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cff148e3-605a-4c98-870c-6a1ee101e7bc",
              "leftValue": "={{ $json.disparar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        2080
      ],
      "id": "64e2b4fc-160a-43f1-8961-4c2514df1ab7",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "17eNWuCZeIfZGWvaBbdaaGf-AOq077uKt80Uz87khuyI",
          "mode": "list",
          "cachedResultName": "Aluguel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17eNWuCZeIfZGWvaBbdaaGf-AOq077uKt80Uz87khuyI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1891679128,
          "mode": "list",
          "cachedResultName": "manter dados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17eNWuCZeIfZGWvaBbdaaGf-AOq077uKt80Uz87khuyI/edit#gid=1891679128"
        },
        "clear": "specificRange",
        "range": "A2:C32"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2816,
        2032
      ],
      "id": "db69da4b-97b3-4baa-a756-dc35213dd595",
      "name": "Clear sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "119b44b2-89eb-4538-9424-472eeca59b77",
              "name": "URL arquivo anexo",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "7ddd99c7-1ec6-4c0a-9021-673bf390ff3a",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        2032
      ],
      "id": "4ae72ba5-bee5-44c5-8977-73c8985bf77b",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1712,
        2032
      ],
      "id": "06198fed-6e49-47d4-9782-69a595f18822",
      "name": "Split Out"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1920,
        2032
      ],
      "id": "6ccb691f-3edf-4cd7-b2d1-ed01577b687b",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "name = 'Aluguel' and mimeType = 'application/vnd.google-apps.spreadsheet'"
            },
            {
              "name": "fields",
              "value": "files(id,name,webViewLink)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1504,
        2032
      ],
      "id": "e48b0848-b495-4618-b5b4-3314620cf493",
      "name": "Pega ID e o Link do arquivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RBxsHzyyYEpOuiLu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/export",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mimeType",
              "value": "=application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2368,
        2032
      ],
      "id": "4d9715dc-492c-4ec3-a32a-308fe84f4e5a",
      "name": "Busca o arquivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RBxsHzyyYEpOuiLu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xwhOhRohRHQA4ad5GR47gI_xb86iEP8lNQoou14mDE8",
          "mode": "list",
          "cachedResultName": "Lojas que cobram aluguel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xwhOhRohRHQA4ad5GR47gI_xb86iEP8lNQoou14mDE8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lojas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xwhOhRohRHQA4ad5GR47gI_xb86iEP8lNQoou14mDE8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        1840
      ],
      "id": "bac87cb4-725b-46df-a762-9ceabfdd8ddc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        1840
      ],
      "id": "006dda8c-7a9a-459e-9f20-94d42e59dab8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## Código para fazer  a query para retornar os valor de venda bruta e devolução\n\nselect DATA_VENDA\n\t, sum(valor_venda_bruta) 'Total venda Bruta'\n\t, sum(valor_troca) 'Total devolução'\nfrom loja_venda\nwhere codigo_filial = 'BS0004'\n\tand year(DATA_VENDA) = case when month(GETDATE()) = 1 then year(getDate())-1 else year(getDate()) end   \n\tand month(DATA_VENDA) = case when month(GETDATE()) = 1 then 12 else month(GETDATE()) - 1 end \ngroup by DATA_VENDA\norder by data_venda asc\n\n",
        "height": 304,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1456,
        1120
      ],
      "id": "444cbf9b-d458-434b-84a1-90d179b288a4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9c3bbe6-1329-4745-a83d-8bb5d42ab604",
              "name": "Codigo loja ",
              "value": "={{ $json['Codigo loja '] }}",
              "type": "string"
            },
            {
              "id": "e54fa128-b43f-438a-88c6-b4ffb2aca18e",
              "name": "Nome da loja",
              "value": "={{ $json['Nome da loja'] }}",
              "type": "string"
            },
            {
              "id": "be96a26f-223f-48cf-b39b-f8fa5e1f3e77",
              "name": "E-mail supervisor ",
              "value": "={{ $json['E-mail supervisor '] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        2032
      ],
      "id": "4fcfd62f-7308-4c3e-afce-434014c2ae19",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "content": "## Consulta se é feriado ",
        "height": 240,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        2000
      ],
      "id": "2aad90fc-1349-4389-b829-c6e396093952",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Código que verifica se esta no 4º dia util\n ",
        "height": 240,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        1968
      ],
      "id": "477bea91-8331-404a-a338-a798e8895ae0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xwhOhRohRHQA4ad5GR47gI_xb86iEP8lNQoou14mDE8",
          "mode": "list",
          "cachedResultName": "Lojas que cobram aluguel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xwhOhRohRHQA4ad5GR47gI_xb86iEP8lNQoou14mDE8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2011546770,
          "mode": "list",
          "cachedResultName": "Lojas banco TH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xwhOhRohRHQA4ad5GR47gI_xb86iEP8lNQoou14mDE8/edit#gid=2011546770"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        2416
      ],
      "id": "6a1e2417-34c0-4bcf-b0a0-81039e62914a",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select DATA_VENDA\n\t, sum(valor_venda_bruta) 'Total venda Bruta'\n\t, sum(valor_troca) 'Total devolução'\nfrom loja_venda\nwhere codigo_filial = '{{ $json['Codigo loja '] }}'\n\tand DATA_VENDA >= '20250101' \n\tand DATA_VENDA <= '20250131' \ngroup by DATA_VENDA\norder by data_venda asc\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        864,
        2608
      ],
      "id": "97bba25f-29df-45c5-bdbb-23000d987ff5",
      "name": "Microsoft SQL1",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "UkgZstSJ5Wj9ofPE",
          "name": "Banco TH"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e17b2c0-f2a7-41e8-8ab4-e2d54818489f",
              "name": "Data_venda",
              "value": "={{ ($json.DATA_VENDA.toDateTime()).format('yyyy-MM-dd')}}",
              "type": "string"
            },
            {
              "id": "8db8586a-cfe2-49a2-b691-b93c7bfc2dcf",
              "name": "Venda bruta",
              "value": "={{ $json['Total venda Bruta'] }}",
              "type": "number"
            },
            {
              "id": "ea4e7f91-c24b-4338-bc5b-eeff19de191a",
              "name": "Devolução",
              "value": "={{ $json['Total devolução'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        2608
      ],
      "id": "0c8ec83e-2ebf-4f3c-bc79-6b048e8153f9",
      "name": "Edit Fields4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17eNWuCZeIfZGWvaBbdaaGf-AOq077uKt80Uz87khuyI",
          "mode": "list",
          "cachedResultName": "Aluguel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17eNWuCZeIfZGWvaBbdaaGf-AOq077uKt80Uz87khuyI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1891679128,
          "mode": "list",
          "cachedResultName": "manter dados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17eNWuCZeIfZGWvaBbdaaGf-AOq077uKt80Uz87khuyI/edit#gid=1891679128"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.Data_venda }}",
            "Venda bruta": "={{ $json['Venda bruta'] }}",
            "Devolução": "={{ $json['Devolução'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Venda bruta",
              "displayName": "Venda bruta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Devolução",
              "displayName": "Devolução",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        2608
      ],
      "id": "c4ffad00-5de9-4aa6-9976-461fb26f021f",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "17eNWuCZeIfZGWvaBbdaaGf-AOq077uKt80Uz87khuyI",
          "mode": "list",
          "cachedResultName": "Aluguel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17eNWuCZeIfZGWvaBbdaaGf-AOq077uKt80Uz87khuyI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1891679128,
          "mode": "list",
          "cachedResultName": "manter dados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17eNWuCZeIfZGWvaBbdaaGf-AOq077uKt80Uz87khuyI/edit#gid=1891679128"
        },
        "clear": "specificRange",
        "range": "A2:C32"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2800,
        2608
      ],
      "id": "c7367822-fb19-47a5-a622-fac5107bd1aa",
      "name": "Clear sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "119b44b2-89eb-4538-9424-472eeca59b77",
              "name": "URL arquivo anexo",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "7ddd99c7-1ec6-4c0a-9021-673bf390ff3a",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        2608
      ],
      "id": "f30eb182-0de6-4def-9d48-555769800f13",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1712,
        2608
      ],
      "id": "1948d8c5-9c6a-410b-86f3-52613b6149fb",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1920,
        2608
      ],
      "id": "916e9a1d-9c57-4325-bd79-51d3999704e5",
      "name": "Limit1"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "name = 'Aluguel' and mimeType = 'application/vnd.google-apps.spreadsheet'"
            },
            {
              "name": "fields",
              "value": "files(id,name,webViewLink)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1504,
        2608
      ],
      "id": "003a4dec-a9e6-492b-b839-1dec93f4de59",
      "name": "Pega ID e o Link do arquivo1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RBxsHzyyYEpOuiLu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/export",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mimeType",
              "value": "=application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2368,
        2608
      ],
      "id": "4e59c719-6a89-42b0-a2be-467d97eea286",
      "name": "Busca o arquivo1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RBxsHzyyYEpOuiLu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        2416
      ],
      "id": "35907f8f-8d01-4b2b-95e2-f88b7ee5c2d8",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9c3bbe6-1329-4745-a83d-8bb5d42ab604",
              "name": "Codigo loja ",
              "value": "={{ $json['Codigo loja '] }}",
              "type": "string"
            },
            {
              "id": "e54fa128-b43f-438a-88c6-b4ffb2aca18e",
              "name": "Nome da loja",
              "value": "={{ $json['Nome da loja'] }}",
              "type": "string"
            },
            {
              "id": "be96a26f-223f-48cf-b39b-f8fa5e1f3e77",
              "name": "E-mail supervisor ",
              "value": "={{ $json['E-mail supervisor '] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        2608
      ],
      "id": "610a88eb-3527-4db8-83a2-ecdc67d64aa4",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "content": "## Pega informações das filiais ",
        "height": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        1744
      ],
      "id": "7e9ab9ed-6478-40c4-bae9-575ad5c464b4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Pega as informações de venda bruta e devolução no mês.\n",
        "height": 880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        1888
      ],
      "id": "8a3f86cf-d306-4a57-b040-e62e8e1f1bce",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Pega o ID do arquivo no google drive  ",
        "height": 832,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        1920
      ],
      "id": "6ea66cca-ded2-4ffe-913c-b59d34d25e25",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Faz o Dowload do drive para anexar no e-mail.",
        "height": 832,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2304,
        1904
      ],
      "id": "c009c1b9-822b-4b8a-8a7f-bf60b470776f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "sendTo": "joaopedro.mlima9@gmail.com",
        "subject": "Alguel de lojas ",
        "message": "O aluguel das filiais já foi enviado ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        2304
      ],
      "id": "c7a7d8a5-0ba9-42eb-a783-c9dad4dc7cc1",
      "name": "Send a message",
      "webhookId": "657a9238-206b-4d36-8667-5b035016f91d",
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "joaopedro.mlima9@gmail.com",
        "subject": "=Aluguel da {{ $('Edit Fields7').item.json['Nome da loja'] }}",
        "message": "=Bom dia!\n\n<br><br>Segue em anexo a planilha do aluguel referente ao mês {{ String(($now).month).padStart(2, \"0\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2608,
        2608
      ],
      "id": "c6155af3-5e29-456c-8f90-0a1895979726",
      "name": "Send a message1",
      "webhookId": "a1b59b16-586f-4c96-a5a9-54cc833b7ec6",
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "joaopedro.mlima9@gmail.com",
        "subject": "=Aluguel da {{ $('Edit Fields5').item.json['Nome da loja'] }}",
        "message": "=Bom dia!  <br><br>Segue em anexo a planilha do aluguel referente ao mês {{ String(($now).month).padStart(2, \"0\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2608,
        2032
      ],
      "id": "6463e194-eedf-4ce6-9f2e-7c252d44e2a0",
      "name": "Send a message2",
      "webhookId": "2e01bbd2-bc61-448a-94ce-91fa89aa11d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "API para consultar feriados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API para consultar feriados": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Pega ID e o Link do arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Busca o arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega ID e o Link do arquivo": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca o arquivo": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Pega ID e o Link do arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Busca o arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega ID e o Link do arquivo1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca o arquivo1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Clear sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0692a565-0f10-445c-a3b0-4ec1fccf1ce5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2efdf59d22b01f5b3cc02c6e5343efb0018294d35df8715600aeda534f49f95d"
  },
  "id": "qee_XF4eS9zId0stSbfnh",
  "tags": [
    {
      "name": "Aluguel",
      "id": "3uP537NpIgXLCVr5",
      "updatedAt": "2026-03-19T02:30:10.162Z",
      "createdAt": "2026-03-19T02:30:10.162Z"
    }
  ]
}